$primary: #906427;
$secondary: #86ac97;
$dark: #392c1e;
$black: #292222;
$font-family-sans-serif: "Monserrat",sans-serif !default;
$font-family-serif: "Hind Maduray",serif !default;




@import "../node_modules/bootstrap/scss/bootstrap";
